body {
    text-align: center;
    background-color: #21245c;
    font-family: 'Chivo Mono', monospace;
    color: whitesmoke;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
}

p {
    position:relative;
    font-size: 20px;
}

#score {
    position:relative;
    font-size: 35px;
}

.scene {
	position:relative;
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/moon.png) center center no-repeat;
    background-size: 600px;
}

#murrMain {
    margin-top: 10%;
    width: 400px;
	height: 400px;
	background: url("img/murr_button.png") center center no-repeat;
	background-size: 100%;
	border: 0;
	animation: imgani 2s infinite;
	z-index: 2;
}

#murrMain:active {
    -webkit-animation-name: shakeY;
    animation-name: shakeY 1s;
}

.fadeinout {
    animation: fadeOutDown 2s;
}

@media only screen and (max-width: 450px) {
    .scene {
        position:relative;
		width: 100%;
		height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(img/moon.png) center center no-repeat;
        background-size: 450px;
    }

	#murrMain {
    margin-top: 10%;
    width: 450px;
	height: 450px;
	background: url("img/murr_button.png") center 130% no-repeat;
	background-size: 100%;
	border: 0;
	animation: imgani 2s infinite;
	z-index: 2;
}
	
  }