body {
    text-align: center;
    background-color: #21245c;
    font-family: 'Chivo Mono', monospace;
    color: whitesmoke;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    position:relative;

    font-size: 20px;
}

#score {
    position:relative;

    font-size: 35px;
}

.murrMain {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/moon.png) center center no-repeat;
    background-size: 600px;
}

@keyframes imgani {
    0% {
        left: 0px;
        top: 0px;
        transform: rotate(2deg)
    }

    25% {
        left: 5px;
        top: 0px;
        transform: rotate(-2deg)
    }

    50% {
        left: 25px;
        top: 1px;
        transform: rotate(2deg)
    }

    75% {
        left: 0px;
        top: 25px;
        transform: rotate(-2deg)
    }

    100% {
        left: 0px;
        top: 0px;
        transform: rotate(2deg)
    }
}

#cookie img {
    margin-top: 20%;
    width: 80%;
    animation: imgani 2s infinite;
    z-index: 2;
}

#cookie img:active {
    -webkit-animation-name: shakeY;
    animation-name: shakeY 1s;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    50% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

.animate__fadeInDown {
    opacity: 0;
    animation: fadeInDown 1.5s ease forwards;
}

.animate__fadeOutDown {
    animation: fadeOutDown 2s ease forwards;
}

@media only screen and (max-width: 450px) {
    .murrMain {
        position:relative;
        margin-top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(img/moon.png) center center no-repeat;
        background-size: 450px;
    }

    #cookie img {
        position:relative;
        padding-top: 20%;
        width: 80%;
        animation: imgani 2s infinite;
        z-index: 2;
    }
  }