body {
    text-align: center;
    background-color: #21245c;
    font-family: 'Chivo Mono', monospace;
    color: whitesmoke;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
}

p {
    position:relative;
    font-size: 20px;
}

#score {
    position:relative;
    font-size: 35px;
}

.scene {
	position:relative;
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/moon.png) center center no-repeat;
    background-size: 600px;
}

#murrMain img {
    margin-top: 20%;
    padding-top: 5%;
    width: 80%;
	animation: imgani 2s infinite;
	z-index: 2;
}

#murrMain img:active {
    -webkit-animation-name: shakeY;
    animation-name: shakeY 1s;
}

.fadeinout {
    animation: fadeOutDown 2s;
}

@media only screen and (max-width: 450px) {
    .scene {
        background-size: 450px;
    }

	#murrMain img {
        margin-top: 0;
        padding-top: 40%;
        width: 90%;
    }
  }
